* {
    margin: 0;
    padding: 0;
}

/* 导航样式 */
.nav {
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
}

/* 导航logo样式 */
.nav .logo {
    width: 20%;
    float :left;
    margin-left: 100px;
}

/* 五个菜单five */
.nav .five {
    border: 1px solid #000;
    /* width: 80%; */
}

/* 五个菜单ul */
.nav .five ul {
    list-style: none;
}

/* 五个菜单ul li */
.nav .five ul li {
    /* border: 1px solid #000; */
    margin-left: 30px;
    padding: 8px;
    float: left;
    text-align: center;
}

/* 右边四个选项 */
.nav .four {
    /* border: 1px solid #000; */
    float: right;
    height: 40px;
    width: 25%;
    margin-left: 20px;
}

/* 右边四个选项图片部分 */
.nav .four div img {
    width: 20px;
    float: left;
    padding: 8px;
}

/* 右边四个选项文字部分 */
.nav .four div span {
    /* border: 1px solid #ccc; */
    float: left;
    padding: 8px;
    margin-left: 10px;
}

/* 中间“个人中心”背景 */
.personal_center {
    background: skyblue;
    height: 100px;
    margin-top: 40px;
    text-align: center;
}

/* 中间“个人中心”背景的字 */
.personal_center div {
    /* border: 1px solid #000; */
    width: 200px;
    line-height: 100px;
    text-align: center;
    margin:0 auto;
    font-size: 32px;
    color: white;
}

/* 个人中心详细三个菜单 */
#tab {
    background: #ccc;
    float: left;
    list-style: none;
    width: 1890px;
    height: 28px;
    line-height: 50px;
}

/* 个人中心详细三个菜单下的li */
#tab li {
    list-style: none;
    /* border: 1px solid #000; */
    width: 20%;
    float: left;
    height: 15px;
    padding: 5px;
    text-align: center;
    line-height: 100%;
}
/* 个人中心详细三个菜单下的li中的第一个li */
#tab li:first-child {
    margin-left: 10%;
}


/* 个人中心详细三个菜单下的li下的a标签 */
#tab li a {
    text-decoration: none;
    color: #000;
}

/* 个人中心三个菜单详细内容 */
#content1,#content2,#content3 {
    display: none;
}

/* 第一个菜单的内容（基本资料） */
#content3 {
    display: block;
    /* border: 1px solid #000; */
}
/* 基本资料下的h3 */
#content1 h3 {
    /* border: 1px solid #000; */
    /* margin: 40px; */
    padding-left: 200px;
}
/* 基本资料下的表格 */
#content1 table {
    /* border: 1px solid #000; */
    width: 77%;
    margin-left: 188px;
}
/* 基本资料下的表格的列 */
#content1 table td{
    /* border: 1px solid #000; */
    padding: 5px;
}
/* 基本资料下的表格的列的每个小格子 */
#content1 table td p {
    border: 1px solid #000;
    width: 71%;
    float: left;
    padding: 8px;
}
/* 基本资料下的表格的列的默认小格子 */
#content1 table td .def {
    text-align: center;
    border-right: none;
    background: rgb(214, 216, 219);
    width: 120px;
}

/* 第二个菜单的内容（修改密码） */
#content2 {
    /* border: 1px solid #000; */
    text-align: center;
}
/* 修改密码的第一行 */
#content2 .pwd_1 {
    /* border: 1px solid #000; */
    margin-top: 30px;
    padding: 20px;
}


/* 修改密码的说明文字 */
#content2 .pwd_2 {
    /* border: 1px solid #000; */
    margin: 10px 200px 0 0;
    padding: 10px;
}
/* 修改密码的input输入框 */
#content2 input {
    border: none;
    margin: 10px 150px 0 0;
    padding: 10px;
}
/* 修改密码的*说明文字 */
#content2 #des{
    color: gray;
    font-size: 12px;
}
/* 修改密码的button按钮 */
#content2 button {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    border-radius: 4px;
    background: rgb(65, 195, 219);
    color: white;
}


/* 第三个菜单的内容（意见反馈） */
/* #content3 { */
    /* border: 1px solid #000; */
/* } */
/* 意见总览部分（第一行） */
#content3 h4 {
    /* border: 1px solid #000; */
    /* background: pink; */
    width: 100%;
    margin-left: 200px;
    padding: 60px;
}
/* 意见总览部分（第一行）三个提示 */
#content3 h4 p {
    /* border: 1px solid #000; */
    width: 20%;
    float: left;
    padding-left: 40px;
    text-align: center;
}
/* 我的意见反馈行 */
#content3 h3 {
    /* border: 1px solid #000; */
    margin-left: 180px;
    width: 1170px;
}
/* 我的意见反馈行按钮 */
#content3 h3 button {
    float: right;
    width: 100px;
    height: 35px;
    background: rgb(65, 195, 219);
    color: white;
    border-radius: 4px;
}
/* 我的意见详情内容 */
#content3 #feedback {
    /* border: 1px solid #000; */
    /* background: skyblue; */
    width: 1170px;
    margin-left: 180px;
}
/* 我的意见详情内容里的li */
#content3 #feedback ul li {
    list-style: none;
}
/* 我的意见详情内容里的p */
#content3 #feedback p {
    border-bottom: 1px solid #000;
    width: 250px;    
    float: left;
    text-align: center;
}
/* 我的意见展开的内容 */
#content3 #feedback .close {
    display: none;
}
/* 我的意见展开内容的展开问题按钮 */
/* #content3 #feedback tr td span a { */
    /* text-align: center; */
/* } */